*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  Nova Square, Rajdhani
}

nav{  
    width: 100%;
    display: flex;
    justify-content: center;

}
#logo{
    width: 250px;
    height: 120px;
}
.mont{ 

    display: flex;
    justify-content: center;
}

.indirizzi{
    width: 50%;
    display: flex;
    justify-content: space-evenly;

}
li{
    list-style: none;
}

.sfondo {
    background-image: url(./media/mountainsbrutta.png),
    linear-gradient(
        
        rgba( 255, 255, 255, 1),
        rgba(255, 255, 255, 0)
        ),
        url(./media/switzerland-862870_1920.jpg);
        background-position:center, center;
        background-size: cover, cover;
}

  

h1 {
    font-size: 80px;
    letter-spacing: 70px;
    color: darkred;
}

.citazione{
    max-width: 40%;

}

.virgolette{
    color: darkred;
    font-family: 'Rajdhani', sans-serif;
}

.mioparagrafo{
    background-color: rgb(230, 230, 230);
}

.img_card {
    width:30px;
    height:30px;
    
}

.linee {
    width: 100px;
    height: 15px;
}

.lorem-mio {
    background-color: rgb(230, 230, 230);
}

.loghi-mio {
    background-color: rgb(230, 230, 230);
}

.h3-lorem {
    color: darkred;
    
}

.sfondo-2 {

  
        
}

.button-mio-custom {
    background-color: darkred;
}

.bottone-mio-section {
    
    background-image: url(./media/trees2.png);
  
    
        background-color: rgb(230, 230, 230) ;
        background-repeat: no-repeat;
        background-size: cover;

   
}